@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    
}

body{
    background-color: blueviolet;
    font-style: italic;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    align-items: center ;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.container>.row{
    justify-content:space-evenly;
    width: 100%;
}